@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 232 248;
    --foreground: 41 32 51;
    --card: 254 252 255;
    --card-foreground: 41 32 51;
    --popover: 254 252 255;
    --popover-foreground: 41 32 51;
    --primary: 104 61 182;
    --primary-foreground: 249 248 250;
    --secondary: 232 224 237;
    --secondary-foreground: 104 61 182;
    --muted: 232 224 237;
    --muted-foreground: 112 99 120;
    --accent: 0 148 74;
    --accent-foreground: 245 255 250;
    --destructive: 255 77 77;
    --destructive-foreground: 250 250 250;
    --border: 219 212 222;
    --input: 227 222 229;
    --ring: 104 61 182;
    --radius: 0.5rem;
    --chart-1: 247 117 81;
    --chart-2: 42 150 125;
    --chart-3: 38 68 82;
    --chart-4: 249 203 91;
    --chart-5: 252 169 95;
    --sidebar-background: 250 250 250;
    --sidebar-foreground: 61 63 70;
    --sidebar-primary: 26 26 26;
    --sidebar-primary-foreground: 250 250 250;
    --sidebar-accent: 244 245 245;
    --sidebar-accent-foreground: 26 26 26;
    --sidebar-border: 229 231 235;
    --sidebar-ring: 59 130 246;
  }
  .dark {
    --background: 28 23 33;
    --foreground: 240 232 248;
    --card: 32 27 37;
    --card-foreground: 240 232 248;
    --popover: 28 23 33;
    --popover-foreground: 240 232 248;
    --primary: 133 98 190;
    --primary-foreground: 249 248 250;
    --secondary: 44 38 51;
    --secondary-foreground: 240 232 248;
    --muted: 44 38 51;
    --muted-foreground: 181 171 189;
    --accent: 0 199 99;
    --accent-foreground: 245 255 250;
    --destructive: 158 0 0;
    --destructive-foreground: 250 250 250;
    --border: 44 38 51;
    --input: 50 44 56;
    --ring: 133 98 190;
    --chart-1: 77 108 158;
    --chart-2: 64 153 115;
    --chart-3: 201 120 47;
    --chart-4: 158 99 184;
    --chart-5: 201 77 108;
    --sidebar-background: 26 26 26;
    --sidebar-foreground: 244 245 245;
    --sidebar-primary: 79 119 221;
    --sidebar-primary-foreground: 255 255 255;
    --sidebar-accent: 38 39 42;
    --sidebar-accent-foreground: 244 245 245;
    --sidebar-border: 38 39 42;
    --sidebar-ring: 59 130 246;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
